#Line{

    background-color: #6f96ff;
    height: 20px;
    width: 5px;
    border-radius: 10px;
}
.container{
    background-color: grey;
    height: 20px;
    width: 500px;
    border-radius: 10px;

}